.titulo{
    text-align: center;
}
.cx-foto-gatinha{
    text-align: center;
    display: flex;
}
.foto-gatinha{
    width: 50%;
}
.foto-amora{
    cursor: pointer;
    width: 80%;
}
.contador-cliques{
    text-align: center;
}