.titulo {
    text-align: center;
}

.cx-foto-gatinha{
    background: #ccc;
    width: 25%;
}

.cx-foto-gatinha>ul {
    list-style: none;
    margin: 0;
}

.foto-gatinha {
    width: 50%;
}

.foto-amora {
    cursor: pointer;
    width: 80%;
}

.contador-cliques {
    text-align: center;
}